# Practica en clase - Creación de environments
## MovieLens

Samantha Sánchez Tinoco

In [ ]:
import pandas as pd

df_ratings = pd.read_csv("ml-latest-small/ratings.csv")
df_movies = pd.read_csv("ml-latest-small/movies.csv")

In [4]:
df_ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [7]:
df_movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

#### ¿Cuántas películas que hayan sido calificadas con un cero?

In [12]:
rating_zero = df_ratings[df_ratings['rating'] == 0.0]

print("¿Cuántas películas que hayan sido calificadas con un cero?", rating_zero.shape[0])

¿Cuántas películas que hayan sido calificadas con un cero? 0