# Practica en clase - Creación de environments
## MovieLens

Samantha Sánchez Tinoco

In [1]:
import pandas as pd

df_ratings = pd.read_csv("ml-latest-small/ratings.csv")
df_movies = pd.read_csv("ml-latest-small/movies.csv")

In [2]:
df_ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [3]:
df_movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

#### Separar el título de la película y el año de la columna title

In [4]:
title = df_movies['title'].str.split(' \(' , expand=True)
year = title[1].str.replace(')', '')

df_movies['title'] = title[0]
df_movies['year'] = year

df_movies.head()

,movieId,title,genres,year
0,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,1995
1,2,Jumanji,Adventure|Children|Fantasy,1995
2,3,Grumpier Old Men,Comedy|Romance,1995
3,4,Waiting to Exhale,Comedy|Drama|Romance,1995
4,5,Father of the Bride Part II,Comedy,1995

#### ¿De qué años hay más películas en el dataset?

In [6]:
top_years = df_movies['year'].value_counts().head(10)

print("Top 10 años con más películas:")
top_years

Top 10 años con más películas:

year
2015    274
2014    270
2002    268
2006    264
2007    259
1996    252
2000    249
2009    249
2005    246
2008    242
Name: count, dtype: int64

#### ¿Cuál es la película con mejores reseñas cada año?

In [8]:
# Unir los dataframes de películas y calificaciones
df_merged = pd.merge(df_movies, df_ratings, on='movieId')

df_merged.head()

,movieId,title,genres,year,userId,rating,timestamp
0,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,1995,1,4.0,964982703
1,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,1995,5,4.0,847434962
2,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,1995,7,4.5,1106635946
3,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,1995,15,2.5,1510577970
4,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,1995,17,4.5,1305696483

In [12]:
# Eliminar las filas con valores nulos en la columna 'year'
df_merged = df_merged.dropna(subset=['year'])

# Eliminar todos los que no son años válidos
df_merged = df_merged[df_merged['year'].str.match(r'^\d{4}$')]

df_merged['year'] = df_merged['year'].astype(int)

In [13]:
best_reviews = df_merged.loc[df_merged.groupby('year')['rating'].idxmax()]

print("Películas con mejores reseñas por año:")
best_reviews[['year', 'title', 'rating']]

Películas con mejores reseñas por año:

       year                                             title  rating
84026  1903                           The Great Train Robbery     4.0
99298  1908                                The Electric Hotel     4.0
73484  1915                            Birth of a Nation, The     2.0
88110  1916                      20,000 Leagues Under the Sea     4.0
76238  1917                                    Immigrant, The     4.5
...     ...                                               ...     ...
96586  2014                                         Divergent     5.0
97096  2015                Mission: Impossible - Rogue Nation     5.0
98264  2016                                          Deadpool     5.0
98222  2017  Pirates of the Caribbean: Dead Men Tell No Tales     5.0
98326  2018                   Avengers: Infinity War - Part I     5.0

[104 rows x 3 columns]

#### ¿Que usuario ha dejado mas ratings?

In [14]:
df_ratings['userId'].value_counts().head(1)

userId
414    2698
Name: count, dtype: int64